.footer{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    justify-items: center;
    margin-top: 50px;
    background-color: rgb(106, 173, 173);
}

@media screen and (max-width:1000px) {
    .footer{  
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media screen and (max-width:500px) {
    .footer{  
        grid-template-columns: repeat(1,1fr);
        
    }
}